.index_body{
    background-color: black;
}
.title{
    color: white;
    font-size: 60px;
}
.title_2{
    color: yellow;
    font-size: 30px;
}
.text{
    color: white;
}
.index_body2{
    background-color: orange;
}
.text2{
    font-size: 25px;
}
.text3{
    color: white;
}